<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="exerciseTracker"
         connectionString="
         Data Source=(LocalDb)\TheCSharpAcademy;
         Initial Catalog=ExerciseTracker;
         Integrated Security=True;
         Encrypt=False;
         Trust Server Certificate=True"
         providerName = ".NET Framework Data Provider for SQL Server"/>
  </connectionStrings>
</configuration>